@import '../../../_common/styles/common.scss';


#banner, .frame{
	// overflow: visible;
}

.holder{
	// @include pos(-1200, 0);
}

.t2{
	@include pos-scale(300, 0, .5);
}

.t3{
	@include pos-scale(600, 0, .5);
}

.t4{
	@include pos-scale(900, 0, .5);
}

.end{
	@include pos(1200, 0);
	background-color: #fff5e4;
	width: 300px;
	height: 250px;
}